<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册确认链接</title>
</head>
<body>
<h1>感谢您在 CodeArena 网站进行注册！</h1>

<p>
   您的验证码为：{{.Code}}
</p>

<p>
    如果这不是您本人的操作，请忽略此邮件。
</p>
</body>
</html>